#header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.container {
  position: relative;
  height: auto;
}
.content{
  margin-top: 120px;
  height: 600px;
}

#credit
{
  color: #F49DBA;
  font-size: large;
}

#header .row
{
    background-color: black;
    height: 70px;
    align-items: center;
}

.col
{    
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    justify-items: center;
    align-items: center;
}

#header_col3
{
    justify-content: flex-end;
    transform: translate(-20px, 0px);
}

#username_string
{
    justify-content: flex-start;
}

#navigate_bar
{
    height: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #F49DBA;
}

#shopping_cart{
    margin-right: 60px;
    background-color: black;
    color: #F49DBA;
    border-color: #F49DBA;
    border-radius: 3px;
}

.btn btn-outline-warning:hover{
    margin-right: 60px;
    background-color: #F49DBA;
    color: black;
    border-color: #F49DBA;
    border-radius: 3px;
    transition: 0.5s;
}

.btn btn-outline-warning:hover::after{
    transition: 0.5s;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color:black;
    color: black;
    text-decoration: none;
    border-block-color: #F49DBA;
    border-color: #F49DBA;
    color: #F49DBA;
  }
.chip:hover{
  color: black;
  background-color: #F49DBA;
  text-decoration: none;
  border-color: #F49DBA;
  transition: 0.5s;
}

#user_button{
  color: #F49DBA;
  text-decoration: none;
}

#user_button:hover{
  text-decoration: none;
  color: black;
}

.chip:hover::after{
  transition: 0.5s;
}

  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

#search_btn {
    border-color: #F49DBA;
    background-color: #F49DBA ;
    color: #F49DBA;
}

.btn-group button
{
    background-color: #F49DBA;
    border-color: #F49DBA;
    color: black;
}

.btn-group button:hover
{
    color: #F49DBA;
    background-color: black;
    border-color: black;
    text-shadow: 1px 1px 2px #F49DBA, 0 0 50px #F49DBA, 0 0 10px #F49DBA;
    box-shadow: 0 10px 10px 0 rgba(241, 235, 240, 0.2), 0 10px 10px 0 rgba(231, 216, 231, 0.19);
    transition: 0.5s;
}

.btn-group button:hover::after{
    transition: 0.5s;
}
  
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  text-decoration: none;
}

.dropdown-content button {
  color: #F49DBA;
  padding: 12px 16px;
  display: block;
  border-color: black;
  background-color: black;
  text-align: left;
  
}

.dropdown-content button:hover{
    background-color: #F49DBA;
    color: black;
    border-color: #F49DBA;
    width: 100%;
    text-decoration: none;
  }

  .dropdown-content a:hover{
    background-color: #F49DBA;
    color: black;
    border-color: #F49DBA;
    width: 100%;
    text-decoration: none;
  }
