* {
    box-sizing: border-box;
  }
	
.product-button{
  text-decoration: none; 
  color:white;
}

.product-button:hover{
  text-decoration: none;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.50em);
}

.checked{
  color: orange;
}