{{>header}}
<div id="content">
    <div class="content mt-3">
        <div class="ahihi">
            <form>
                <input type="search" placeholder="Search">
            </form>
        </div>
        <div class="card-body">
            <table id="bootstrap-data-table-export" class="table table-striped table-bordered">

                <thead>
                    <th>STT</th>
                    <th>Name</th>
                    <th>Picture</th>
                    <th>AccountID</th>
                    <th>Role</th>
                    <th>Approval</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>NoName</td>
                        <td>
                            <img src="/images/user/female.jpg" alt="" width="150px" height="150px" />
                        </td>
                        <td>1234566</td>
                        <td>Bidder</td>
                        <td>
                            <button class="btn btn-warning">Up
                            </button>
                        </td>

                    </tr>
                    <tr>
                        <td>2</td>
                        <td>NoName2</td>
                        <td>
                            <img src="/images/user/female.jpg" alt="" width="150px" height="150px" />
                        </td>
                        <td>1236754</td>
                        <td>Bidder</td>
                        <td>
                            <button class="btn btn-warning">Up
                            </button>
                        </td>


                    </tr>
                    <tr>
                        <td>3</td>
                        <td>NoName3</td>
                        <td>
                            <img src="/images/user/female.jpg" alt="" width="150px" height="150px" />
                        </td>
                        <td>1232345</td>
                        <td>Bidder</td>
                        <td>
                            <button class="btn btn-warning">Up
                            </button>
                        </td>


                    </tr>
                    <tr>
                        <td>4</td>
                        <td>NoName4</td>
                        <td>
                            <img src="/images/user/male.jpg" alt="" width="150px" height="150px" />
                        </td>
                        <td>5435344</td>
                        <td>Bidder</td>
                        <td>
                            <button class="btn btn-warning">Up
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>NoName5</td>
                        <td>
                            <img src="/images/user/female.jpg" alt="" width="150px" height="150px" />
                        </td>
                        <td>2232121</td>
                        <td>Bidder</td>
                        <td>
                            <button class="btn btn-warning">Up
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>NoName6</td>
                        <td>
                            <img src="/images/user/male.jpg" alt="" width="150px" height="150px" />
                        </td>
                        <td>2231231</td>
                        <td>Bidder</td>
                        <td>
                            <button class="btn btn-warning">Up
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>NoName7</td>
                        <td>
                            <img src="/images/user/female.jpg" alt="" width="150px" height="150px" />
                        </td>
                        <td>2232178</td>
                        <td>Bidder</td>
                        <td>
                            <button class="btn btn-warning">Up
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>NoName8</td>
                        <td>
                            <img src="/images/user/male.jpg" alt="" width="150px" height="150px" />
                        </td>
                        <td>2232434</td>
                        <td>Bidder</td>
                        <td>
                            <button class="btn btn-warning">Up
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>NoName9</td>
                        <td>
                            <img src="/images/user/female.jpg" alt="" width="150px" height="150px" />
                        </td>
                        <td>2234512</td>
                        <td>Bidder</td>
                        <td>
                            <button class="btn btn-warning">Up
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>NoName10</td>
                        <td>
                            <img src="/images/user/male.jpg" alt="" width="150px" height="150px" />
                        </td>
                        <td>2232100</td>
                        <td>Bidder</td>
                        <td>
                            <button class="btn btn-warning">Up
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{{>footer}}