{{>header}}
<div class="content">
    <div class="container">
            <div class="card">
                    <table class="table table-hover shopping-cart-wrap">
                    <thead class="text-muted">
                    <tr>
                      <th scope="col">Product</th>
                      <th scope="col" width="120">Quantity</th>
                      <th scope="col" width="120">Price</th>
                      <th scope="col" width="200" class="text-right">Action</th>
                    </tr>
                    </thead>
                    <tbody id="cartItem">
                    <!-- <tr>
                        <td>
                    <figure class="media">
                        <div class="img-wrap"></div><img src="./resources/images/Getting Over It/wallpaper.jpg" class="img-thumbnail img-sm" style="height: 25%; width: 25%;"></div>
                        <figcaption class="media-body">
                            <h4 class="title text-truncate">Getting Over It </h4>
                            <dl class="param param-inline small">
                              <dt>Author: </dt>
                              <dd>Bennett Foddy</dd>
                            </dl>
                        </figcaption>
                    </figure> 
                        </td>
                        <td>
                            <div class="btn btn-outline-success">+</div>
                            <input type="text" class="form-control" placeholder="1" readonly></input>
                            <div class="btn btn-outline-success">-</div>
                        </td>
                        <td>
                            <div class="price-wrap"> 
                                <var class="price">20$</var> 
                            </div> 
                        </td>
                        <td class="text-right"> 
                        <a href="" class="btn btn-outline-danger remove-from-cart"> × Remove</a>
                        </td>
                    </tr> -->
                    </tbody>
                    </table>
                    </div> <!-- card.// -->
                    
    </div>
</div>
{{>footer}}