{{>header}}
<div class="content">
  <div class="container">
    <h1>Nearly end products</h1>
    <div class="row">
      <div class="col">
        <a  class="product-button" href="./product_detail.html" role="button">
          <div class="card text-white bg-dark mb-3" style="width: 18rem; border-width: 8px; ">
              <img class="card-img-top" src="resources/images/cellphone/1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Iphone 11</h5>
                <p class="card-price" style="font: bold; color: yellow; font-size: 30px;">1000$</p>
              </div>
              <ul class="list-group list-group-flush" style="color: black">
                  <li class="list-group-item" style="justify-content: center;">
                    <ul class="rating">
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star disabled"></li>
                    </ul>
                  </li>
                  <li class="list-group-item">Highest bit</li>
                  <li class="list-group-item">Time Remained</li>
                  <li class="list-group-item">Buy-now Price</li>
                  <li class="list-group-item">Total bid</li>
                  <li class="list-group-item">Created Date</li>
                </ul>
                <div class="card-body">
                  <a href="#" class= "btn btn-warning">Wishlist</a>
                </div>
          </div>
        </a>

        <a  class="product-button" href="./product_detail.html" role="button">
          <div class="card text-white bg-dark mb-3" style="width: 18rem; border-width: 8px; ">
            <img class="card-img-top" src="resources/images/cellphone/1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Iphone 11</h5>
              <p class="card-price" style="font: bold; color: yellow; font-size: 30px;">1000$</p>
            </div>
            <ul class="list-group list-group-flush" style="color: black">
                <li class="list-group-item" style="justify-content: center;">
                  <ul class="rating">
                      <li class="fa fa-star checked"></li>
                      <li class="fa fa-star checked"></li>
                      <li class="fa fa-star checked"></li>
                      <li class="fa fa-star checked"></li>
                      <li class="fa fa-star disabled"></li>
                  </ul>
                </li>
                <li class="list-group-item">Highest bit</li>
                <li class="list-group-item">Time Remained</li>
                <li class="list-group-item">Buy-now Price</li>
                <li class="list-group-item">Total bid</li>
                <li class="list-group-item">Created Date</li>
              </ul>
              <div class="card-body">
                <a href="#" class= "btn btn-warning">Wishlist</i></a>
            </div>
          </div>
        </a>

        <a  class="product-button" href="./product_detail.html" role="button">
        <div class="card text-white bg-dark mb-3" style="width: 18rem; border-width: 8px; ">
            <img class="card-img-top" src="resources/images/cellphone/1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Iphone 11</h5>
              <p class="card-price" style="font: bold; color: yellow; font-size: 30px;">1000$</p>
            </div>
            <ul class="list-group list-group-flush" style="color: black">
                <li class="list-group-item" style="justify-content: center;">
                  <ul class="rating">
                      <li class="fa fa-star checked"></li>
                      <li class="fa fa-star checked"></li>
                      <li class="fa fa-star checked"></li>
                      <li class="fa fa-star checked"></li>
                      <li class="fa fa-star disabled"></li>
                  </ul> 
                </li>
                <li class="list-group-item">Highest bit</li>
                <li class="list-group-item">Time Remained</li>
                <li class="list-group-item">Buy-now Price</li>
                <li class="list-group-item">Total bid</li>
                <li class="list-group-item">Created Date</li>
              </ul>
              <div class="card-body">
                <a href="#" class= "btn btn-warning">Wishlist</a>
              </div>
          </div>
        </a>

        <a  class="product-button" href="./product_detail.html" role="button">
          <div class="card text-white bg-dark mb-3" style="width: 18rem; border-width: 8px; ">
              <img class="card-img-top" src="resources/images/cellphone/1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Iphone 11</h5>
                <p class="card-price" style="font: bold; color: yellow; font-size: 30px;">1000$</p>
              </div>
              <ul class="list-group list-group-flush" style="color: black">
                  <li class="list-group-item" style="justify-content: center;">
                    <ul class="rating">
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star disabled"></li>
                    </ul> 
                  </li>
                  <li class="list-group-item">Highest bit</li>
                  <li class="list-group-item">Time Remained</li>
                  <li class="list-group-item">Buy-now Price</li>
                  <li class="list-group-item">Total bid</li>
                  <li class="list-group-item">Created Date</li>
                </ul>
                <div class="card-body">
                  <a href="#" class= "btn btn-warning">Wishlist</a>
                </div>
            </div>
        </a>

        <a  class="product-button" href="./product_detail.html" role="button">
          <div class="card text-white bg-dark mb-3" style="width: 18rem; border-width: 8px; ">
              <img class="card-img-top" src="resources/images/cellphone/1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Iphone 11</h5>
                <p class="card-price" style="font: bold; color: yellow; font-size: 30px;">1000$</p>
              </div>
              <ul class="list-group list-group-flush" style="color: black">
                  <li class="list-group-item" style="justify-content: center;">
                    <ul class="rating">
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star disabled"></li>
                    </ul> 
                  </li>
                  <li class="list-group-item">Highest bit</li>
                  <li class="list-group-item">Time Remained</li>
                  <li class="list-group-item">Buy-now Price</li>
                  <li class="list-group-item">Total bid</li>
                  <li class="list-group-item">Created Date</li>
                </ul>
                <div class="card-body">
                  <a href="#" class= "btn btn-warning">Wishlist</a>
                </div>
            </div>
        </a>    
      </div>
    </div>

    <hr style="border: 2px solid #F49DBA;">  
    <h1>Most bid products</h1>
    <div class="row">
      <div class="col">
        <a  class="product-button" href="./product_detail.html" role="button">
          <div class="card text-white bg-dark mb-3" style="width: 18rem; border-width: 8px; ">
              <img class="card-img-top" src="resources/images/cellphone/1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Iphone 11</h5>
                <p class="card-price" style="font: bold; color: yellow; font-size: 30px;">1000$</p>
              </div>
              <ul class="list-group list-group-flush" style="color: black">
                  <li class="list-group-item" style="justify-content: center;">
                    <ul class="rating">
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star disabled"></li>
                    </ul>
                  </li>
                  <li class="list-group-item">Highest bit</li>
                  <li class="list-group-item">Time Remained</li>
                  <li class="list-group-item">Buy-now Price</li>
                  <li class="list-group-item">Total bid</li>
                  <li class="list-group-item">Created Date</li>
                </ul>
                <div class="card-body">
                  <a href="#" class= "btn btn-warning">Wishlist</a>
                </div>
          </div>
        </a>

        <a  class="product-button" href="./product_detail.html" role="button">
          <div class="card text-white bg-dark mb-3" style="width: 18rem; border-width: 8px; ">
            <img class="card-img-top" src="resources/images/cellphone/1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Iphone 11</h5>
              <p class="card-price" style="font: bold; color: yellow; font-size: 30px;">1000$</p>
            </div>
            <ul class="list-group list-group-flush" style="color: black">
                <li class="list-group-item" style="justify-content: center;">
                  <ul class="rating">
                      <li class="fa fa-star checked"></li>
                      <li class="fa fa-star checked"></li>
                      <li class="fa fa-star checked"></li>
                      <li class="fa fa-star checked"></li>
                      <li class="fa fa-star disabled"></li>
                  </ul>
                </li>
                <li class="list-group-item">Highest bit</li>
                <li class="list-group-item">Time Remained</li>
                <li class="list-group-item">Buy-now Price</li>
                <li class="list-group-item">Total bid</li>
                <li class="list-group-item">Created Date</li>
              </ul>
              <div class="card-body">
                <a href="#" class= "btn btn-warning">Wishlist</i></a>
            </div>
          </div>
        </a>

        <a  class="product-button" href="./product_detail.html" role="button">
        <div class="card text-white bg-dark mb-3" style="width: 18rem; border-width: 8px; ">
            <img class="card-img-top" src="resources/images/cellphone/1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Iphone 11</h5>
              <p class="card-price" style="font: bold; color: yellow; font-size: 30px;">1000$</p>
            </div>
            <ul class="list-group list-group-flush" style="color: black">
                <li class="list-group-item" style="justify-content: center;">
                  <ul class="rating">
                      <li class="fa fa-star checked"></li>
                      <li class="fa fa-star checked"></li>
                      <li class="fa fa-star checked"></li>
                      <li class="fa fa-star checked"></li>
                      <li class="fa fa-star disabled"></li>
                  </ul> 
                </li>
                <li class="list-group-item">Highest bit</li>
                <li class="list-group-item">Time Remained</li>
                <li class="list-group-item">Buy-now Price</li>
                <li class="list-group-item">Total bid</li>
                <li class="list-group-item">Created Date</li>
              </ul>
              <div class="card-body">
                <a href="#" class= "btn btn-warning">Wishlist</a>
              </div>
          </div>
        </a>

        <a  class="product-button" href="./product_detail.html" role="button">
          <div class="card text-white bg-dark mb-3" style="width: 18rem; border-width: 8px; ">
              <img class="card-img-top" src="resources/images/cellphone/1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Iphone 11</h5>
                <p class="card-price" style="font: bold; color: yellow; font-size: 30px;">1000$</p>
              </div>
              <ul class="list-group list-group-flush" style="color: black">
                  <li class="list-group-item" style="justify-content: center;">
                    <ul class="rating">
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star disabled"></li>
                    </ul> 
                  </li>
                  <li class="list-group-item">Highest bit</li>
                  <li class="list-group-item">Time Remained</li>
                  <li class="list-group-item">Buy-now Price</li>
                  <li class="list-group-item">Total bid</li>
                  <li class="list-group-item">Created Date</li>
                </ul>
                <div class="card-body">
                  <a href="#" class= "btn btn-warning">Wishlist</a>
                </div>
            </div>
        </a>

        <a  class="product-button" href="./product_detail.html" role="button">
          <div class="card text-white bg-dark mb-3" style="width: 18rem; border-width: 8px; ">
              <img class="card-img-top" src="resources/images/cellphone/1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Iphone 11</h5>
                <p class="card-price" style="font: bold; color: yellow; font-size: 30px;">1000$</p>
              </div>
              <ul class="list-group list-group-flush" style="color: black">
                  <li class="list-group-item" style="justify-content: center;">
                    <ul class="rating">
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star disabled"></li>
                    </ul> 
                  </li>
                  <li class="list-group-item">Highest bit</li>
                  <li class="list-group-item">Time Remained</li>
                  <li class="list-group-item">Buy-now Price</li>
                  <li class="list-group-item">Total bid</li>
                  <li class="list-group-item">Created Date</li>
                </ul>
                <div class="card-body">
                  <a href="#" class= "btn btn-warning">Wishlist</a>
                </div>
            </div>
        </a>    
      </div>
    </div>


    <hr style="border: 2px solid #F49DBA;">  
    <h1>Highest price products</h1>
    <div class="row">
      <div class="col">
        <a  class="product-button" href="./product_detail.html" role="button">
          <div class="card text-white bg-dark mb-3" style="width: 18rem; border-width: 8px; ">
              <img class="card-img-top" src="resources/images/cellphone/1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Iphone 11</h5>
                <p class="card-price" style="font: bold; color: yellow; font-size: 30px;">1000$</p>
              </div>
              <ul class="list-group list-group-flush" style="color: black">
                  <li class="list-group-item" style="justify-content: center;">
                    <ul class="rating">
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star disabled"></li>
                    </ul>
                  </li>
                  <li class="list-group-item">Highest bit</li>
                  <li class="list-group-item">Time Remained</li>
                  <li class="list-group-item">Buy-now Price</li>
                  <li class="list-group-item">Total bid</li>
                  <li class="list-group-item">Created Date</li>
                </ul>
                <div class="card-body">
                  <a href="#" class= "btn btn-warning">Wishlist</a>
                </div>
          </div>
        </a>

        <a  class="product-button" href="./product_detail.html" role="button">
          <div class="card text-white bg-dark mb-3" style="width: 18rem; border-width: 8px; ">
            <img class="card-img-top" src="resources/images/cellphone/1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Iphone 11</h5>
              <p class="card-price" style="font: bold; color: yellow; font-size: 30px;">1000$</p>
            </div>
            <ul class="list-group list-group-flush" style="color: black">
                <li class="list-group-item" style="justify-content: center;">
                  <ul class="rating">
                      <li class="fa fa-star checked"></li>
                      <li class="fa fa-star checked"></li>
                      <li class="fa fa-star checked"></li>
                      <li class="fa fa-star checked"></li>
                      <li class="fa fa-star disabled"></li>
                  </ul>
                </li>
                <li class="list-group-item">Highest bit</li>
                <li class="list-group-item">Time Remained</li>
                <li class="list-group-item">Buy-now Price</li>
                <li class="list-group-item">Total bid</li>
                <li class="list-group-item">Created Date</li>
              </ul>
              <div class="card-body">
                <a href="#" class= "btn btn-warning">Wishlist</i></a>
            </div>
          </div>
        </a>

        <a  class="product-button" href="./product_detail.html" role="button">
        <div class="card text-white bg-dark mb-3" style="width: 18rem; border-width: 8px; ">
            <img class="card-img-top" src="resources/images/cellphone/1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Iphone 11</h5>
              <p class="card-price" style="font: bold; color: yellow; font-size: 30px;">1000$</p>
            </div>
            <ul class="list-group list-group-flush" style="color: black">
                <li class="list-group-item" style="justify-content: center;">
                  <ul class="rating">
                      <li class="fa fa-star checked"></li>
                      <li class="fa fa-star checked"></li>
                      <li class="fa fa-star checked"></li>
                      <li class="fa fa-star checked"></li>
                      <li class="fa fa-star disabled"></li>
                  </ul> 
                </li>
                <li class="list-group-item">Highest bit</li>
                <li class="list-group-item">Time Remained</li>
                <li class="list-group-item">Buy-now Price</li>
                <li class="list-group-item">Total bid</li>
                <li class="list-group-item">Created Date</li>
              </ul>
              <div class="card-body">
                <a href="#" class= "btn btn-warning">Wishlist</a>
              </div>
          </div>
        </a>

        <a  class="product-button" href="./product_detail.html" role="button">
          <div class="card text-white bg-dark mb-3" style="width: 18rem; border-width: 8px; ">
              <img class="card-img-top" src="resources/images/cellphone/1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Iphone 11</h5>
                <p class="card-price" style="font: bold; color: yellow; font-size: 30px;">1000$</p>
              </div>
              <ul class="list-group list-group-flush" style="color: black">
                  <li class="list-group-item" style="justify-content: center;">
                    <ul class="rating">
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star disabled"></li>
                    </ul> 
                  </li>
                  <li class="list-group-item">Highest bit</li>
                  <li class="list-group-item">Time Remained</li>
                  <li class="list-group-item">Buy-now Price</li>
                  <li class="list-group-item">Total bid</li>
                  <li class="list-group-item">Created Date</li>
                </ul>
                <div class="card-body">
                  <a href="#" class= "btn btn-warning">Wishlist</a>
                </div>
            </div>
        </a>

        <a  class="product-button" href="./product_detail.html" role="button">
          <div class="card text-white bg-dark mb-3" style="width: 18rem; border-width: 8px; ">
              <img class="card-img-top" src="resources/images/cellphone/1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Iphone 11</h5>
                <p class="card-price" style="font: bold; color: yellow; font-size: 30px;">1000$</p>
              </div>
              <ul class="list-group list-group-flush" style="color: black">
                  <li class="list-group-item" style="justify-content: center;">
                    <ul class="rating">
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star checked"></li>
                        <li class="fa fa-star disabled"></li>
                    </ul> 
                  </li>
                  <li class="list-group-item">Highest bit</li>
                  <li class="list-group-item">Time Remained</li>
                  <li class="list-group-item">Buy-now Price</li>
                  <li class="list-group-item">Total bid</li>
                  <li class="list-group-item">Created Date</li>
                </ul>
                <div class="card-body">
                  <a href="#" class= "btn btn-warning">Wishlist</a>
                </div>
            </div>
        </a>    
      </div>
    </div>

  </div>
</div>
{{>footer}}