<link rel="stylesheet" href="/css/listcategoryadmin.css">
{{!-- <div id ="header">
    <div class="row">
            <div class="col">
                <a href="./index." role="button">
                    <img src="/css/images/logo cyka bear.png" alt="">
                    <img src="/css/images/buhnrop.png" alt="">
                </a>
            </div>
        
            <div class="col">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                    <div class="input-group-append">
                        <button id="search_btn" class="btn btn-secondary" type="button", >
                            <img class="search_logo" src="/css/images/search_icon.png" alt="search_icon">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            
            
            <div id="header_col3" class="col">
                <a id="user_button" href="./sign_in." role="button">
                <div class="chip">
                    <div class="dropdown"style="float:right;">
                            <img class="user_logo" src="/css/images/guest_logo.png" alt="avatar" class="avatar">
                            <span><b>Trần Vinh Hiển</b></span>
                            <div class="dropdown-content">
                            <a href="./personalAreaAdmin.">
                            <button type="button" class="btn btn-primary">Infomation</button></a>
                            
                            <a href="./index.">
                            <button type="button" class="btn btn-primary">Logout</button></a>
                        </div>
                    </div>                        
                </div>
                </a>
            </div>                
        </div>
        
    <nav class="navbar-toggleable-md navbar-light bg-faded"style="background-color : pink" >
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="./listcategory.">Categories Management</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products Management
        </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="./listproduct.">Laptop</a>
                        </li>
                        <li><a class="dropdown-item" href="./cellphone.">Cellphone</a>
                        </li>
                        <li><a class="dropdown-item" href="./ipad.">Ipad</a>
                        </li>
                        <li><a class="dropdown-item" href="./headphone.">Headphone</a>
                        </li>
                        <li><a class="dropdown-item" href="./shoes.">Shoes</a>
                        </li>
                </li>
                </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./listuseradmin.">User Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./approveduser.">Approval</a>
                </li>
            </ul>
        </div>
    </nav>
</div> --}}
{{>header}}
<div class="content">
    <div class="content mt-3">
        <div class="animated">
            <div class="card">
                <div class="card-header">
                    <div class="d-inline-block w-50">

                        <div class="d-inline w-50">
                            <button class="btn btn-light"><b>Update User</b>
                            </button>
                        </div>
                    </div>
                    <div class="d-inline w-50">

                        <button class="btn btn-light"><b>Insert User</b>

                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">&ensp;&nbsp;&nbsp;List User</strong>
                    </div>
                    <div class="ahihi">
                        <form>
                            <input type="search" placeholder="Search">
                        </form>
                    </div>



                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">

                            <thead>
                                <th>STT</th>
                                <th>Name</th>
                                <th>Picture</th>
                                <th>AccountID</th>
                                <th>Role</th>
                                <th>DownGrade</th>
                                <th>Delete</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Trung Hieu</td>
                                    <td>
                                        <img src="/images/user/male.jpg" alt="" width="150px" height="150px" />
                                    </td>
                                    <td>1753051</td>
                                    <td>Seller</td>
                                    <td>
                                        <button class="btn btn-warning">Down</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning">Del</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Dang Duy</td>
                                    <td>
                                        <img src="/images/user/male.jpg" alt="" width="150px" height="150px" />
                                    </td>
                                    <td>1753048</td>
                                    <td>Seller</td>
                                    <td>
                                        <button class="btn btn-warning">Down
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning"> Del </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Vinh Hien</td>
                                    <td>
                                        <img src="/images/user/female.jpg" alt="" width="150px" height="150px" />
                                    </td>
                                    <td>1753050</td>
                                    <td>Seller</td>
                                    <td>
                                        <button class="btn btn-warning">
                                            Down
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning">Del</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Trong Hai</td>
                                    <td>
                                        <img src="/images/user/male.jpg" alt="" width="150px" height="150px" />
                                    </td>
                                    <td>1753049</td>
                                    <td>Seller</td>
                                    <td>
                                        <button class="btn btn-warning">Down</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning">Del</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>NoName</td>
                                    <td>
                                        <img src="/images/user/female.jpg" alt="" width="150px" height="150px" />
                                    </td>
                                    <td>1234566</td>
                                    <td>Seller</td>
                                    <td>
                                        <button class="btn btn-warning">Down
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning">Del</button>
                                    </td>

                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>NoName</td>
                                    <td>
                                        <img src="/images/user/female.jpg" alt="" width="150px" height="150px" />
                                    </td>
                                    <td>1234566</td>
                                    <td>Seller</td>
                                    <td>
                                        <button class="btn btn-warning">Down
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning">Del</button>
                                    </td>

                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>NoName</td>
                                    <td>
                                        <img src="/images/user/female.jpg" alt="" width="150px" height="150px" />
                                    </td>
                                    <td>1234566</td>
                                    <td>Seller</td>
                                    <td>
                                        <button class="btn btn-warning">Down
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning">Del</button>
                                    </td>

                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>NoName2</td>
                                    <td>
                                        <img src="/images/user/male.jpg" alt="" width="150px" height="150px" />
                                    </td>
                                    <td>5435344</td>
                                    <td>Bidder</td>
                                    <td>
                                        <button class="btn btn-warning">Down
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning">Del</button>
                                    </td>

                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>NoName3</td>
                                    <td>
                                        <img src="/images/user/female.jpg" alt="" width="150px" height="150px" />
                                    </td>
                                    <td>2232121</td>
                                    <td>Bidder</td>
                                    <td>
                                        <button class="btn btn-warning">Down
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning">Del</button>
                                    </td>

                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>NoName4</td>
                                    <td>
                                        <img src="/images/user/female.jpg" alt="" width="150px" height="150px" />
                                    </td>
                                    <td>3232321</td>
                                    <td>Seller</td>
                                    <td>
                                        <button class="btn btn-warning">Down
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning">Del</button>
                                    </td>

                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>NoName5</td>
                                    <td>
                                        <img src="/images/user/male.jpg" alt="" width="150px" height="150px" />
                                    </td>
                                    <td>2223321</td>
                                    <td>Seller</td>
                                    <td>
                                        <button class="btn btn-warning">Down
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning">Del</button>
                                    </td>

                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>NoName6</td>
                                    <td>
                                        <img src="/images/user/female.jpg" alt="" width="150px" height="150px" />
                                    </td>
                                    <td>8754121</td>
                                    <td>Bidder</td>
                                    <td>
                                        <button class="btn btn-warning">Down
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning">Del</button>
                                    </td>

                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>NoName7</td>
                                    <td>
                                        <img src="/images/user/male.jpg" alt="" width="150px" height="150px" />
                                    </td>
                                    <td>1234573</td>
                                    <td>Bidder</td>
                                    <td>
                                        <button class="btn btn-warning">Down
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning">Del</button>
                                    </td>

                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>NoName8</td>
                                    <td>
                                        <img src="/images/user/female.jpg" alt="" width="150px" height="150px" />
                                    </td>
                                    <td>1243622</td>
                                    <td>Seller</td>
                                    <td>
                                        <button class="btn btn-warning">Down
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning">Del</button>
                                    </td>

                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>NoName9</td>
                                    <td>
                                        <img src="/images/user/female.jpg" alt="" width="150px" height="150px" />
                                    </td>
                                    <td>1239876</td>
                                    <td>Seller</td>
                                    <td>
                                        <button class="btn btn-warning">Down
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning">Del</button>
                                    </td>

                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>NoName10</td>
                                    <td>
                                        <img src="/images/user/male.jpg" alt="" width="150px" height="150px" />
                                    </td>
                                    <td>15435443</td>
                                    <td>Bidder</td>
                                    <td>
                                        <button class="btn btn-warning">Down
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning">Del</button>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}