<link rel="stylesheet" href="/css/personalProfile.css"type="text/css">
{{>header}}

<div class="container" >
    <h2>Product List</h2>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Id</div>
        <div class="col col-2">Product Name</div>
        <div class="col col-3">Guarantee Bid</div>
        <div class="col col-4">Product Status</div>
        <div class="col col-5">Cancle</div>

      </li>
      <li class="table-row">
        <div class="col col-1" data-label="Job Id">42235</div>
        <div class="col col-2" data-label="Customer Name">Iphone xXx</div>
        <div class="col col-3" data-label="Amount">$350</div>
        <div class="col col-4" data-label="Payment Status">Valid</div>
        <button><div class="col col-5" style="color: red;">X</div></button>

      </li>
      <li class="table-row">
        <div class="col col-1" data-label="Job Id">42442</div>
        <div class="col col-2" data-label="Customer Name">CatSlave 1</div>
        <div class="col col-3" data-label="Amount">$220</div>
        <div class="col col-4" data-label="Payment Status">Valid</div>
        <button><div class="col col-5" style="color: red;">X</div></button>

      </li>
      <li class="table-row">
        <div class="col col-1" data-label="Job Id">42257</div>
        <div class="col col-2" data-label="Customer Name">CatSlave 2</div>
        <div class="col col-3" data-label="Amount">$341</div>
        <div class="col col-4" data-label="Payment Status">Valid</div>
        <button><div class="col col-5" style="color: red;">X</div></button>

      </li>
      <li class="table-row">
        <div class="col col-1" data-label="Job Id">42311</div>
        <div class="col col-2" data-label="Customer Name">CatSlave 3</div>
        <div class="col col-3" data-label="Amount">$115</div>
        <div class="col col-4" data-label="Payment Status">Out of Date</div>
        <button><div class="col col-5" style="color: red;">X</div></button>

      </li>
    </ul>
  <br>
  <br>
  <hr>
    <h2>Owned List</h2>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Id</div>
        <div class="col col-2">Product Name</div>
        <div class="col col-3">Owner Name</div>
        <div class="col col-4">Product Status</div>
      </li>
      <li class="table-row">
        <div class="col col-1" data-label="Job Id">42535</div>
        <div class="col col-2" data-label="Customer Name">Iphone xXx</div>
        <div class="col col-3" data-label="Amount">Johnny Sins</div>
        <div class="col col-4" data-label="Payment Status">Paid</div>

      </li>
      <li class="table-row">
        <div class="col col-1" data-label="Job Id">42462</div>
        <div class="col col-2" data-label="Customer Name">CatSlave x</div>
        <div class="col col-3" data-label="Amount">Ricardo</div>
        <div class="col col-4" data-label="Payment Status">unPaid</div>

      </li>

    </ul>
  </div> 

{{>footer}}