<link rel="stylesheet" href="/css/personalArea.css">
{{>header}}
<div class="content">
    <h1>Infomation</h1>
<div class="container">   
    <table id="table" align="center">
    <tr>
        <th>Name</th>
        <td>Yaosu 20GG</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>Yaosu20GG@gmail.com</td>
    </tr>
    <tr>
        <th>Password</th>
        <td>******************</td>
    </tr>
    <tr>
        <th>Phone Number</th>
        <td>0123456789</td>
    </tr>
    <tr>
        <th>Social ID</th>
        <td>1598753321</td>
    </tr>
    <tr>
        <th>Sex</th>
        <td><input type="radio" name="gender" value="male" checked> Male
            <input type="radio" name="gender" value="female"> Female
            <input type="radio" name="gender" value="other"> Other
        </td>
    </tr>
    <tr>
        <th>Address</th>
        <td>273 Lorem ipsum</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>Admin</td>
    </tr>
    <tr>
        <td><button type="button" class="btn btn-default btn-sm">
            <i class="far fa-arrow-alt-circle-up"></i> Upgrade
        </button></td>
        <td><a href="./EditpersonalAreaAdmin."><button type="button" class="btn btn-default btn-sm">
            <i class="fa fa-edit"></i> Edit
        </button>
        </a>
        </td>
    </tr>
    </table>
</div>
</div>
{{>footer}}