<link rel="stylesheet" type="text/css" href="/css/sign_in.css">

<a href="/"><img src="/css/images/buhnrop.png" alt=""></a>

<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form action="/users/login" method="POST" id="signup-form">
					{{#if message}}
					<div class="form-group">
						<strong class="alert {{type}}">{{message}}</strong>
					</div>
					{{/if}}
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input id="username" type="email" class="form-control" name="username"  placeholder="Email">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input id="password" type="password" class="form-control" name="password"  placeholder="password">
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox" name="keepLoggedIn" id="keepLoggedIn">Remember Me
					</div>
					<div class="form-group">
						<input type="submit" value="Login" name="submit" id="submit" class="btn float-right login_btn" style="white-space: normal;">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="/users/register">Sign Up</a>
				</div>
			</div>
		</div>
	</div>
</div>