<link rel="stylesheet" href="resources/css/favourite.css">
{{>header}}
<div class="content">
<h1>Won Products</h1>
<div class="container">        
<table id="table" align="center">
<tr>
<th>STT</th>
<th>Products Name</th>
<th>Image</th>
<th>Quantity</th>
<th>Seller</th>
<th>Time</th>
<th>Price</th>
<th>Rate Seller</th>
<th></th>
</tr>
<tr>
<td>1</td>
<td>Vodka</td>
<td><img src="resources/css/images/logo cyka bear.png" alt=""></td>
<td>69</td>
<td>Cyka</td>
<td>1/11/2019 10:43</td>
<td>6,000,000</td>
<td><button type="button" class="btn btn-default btn-sm">
<i class="fa fa-thumbs-o-up"></i>
</button>
<button type="button" class="btn btn-default btn-sm">
<i class="fa fa-thumbs-o-down"></i>
</button></td>
<td</td>
</tr>
<tr>
<td>2</td>
<td>Gin</td>
<td><img src="resources/css/images/logo cyka bear.png" alt=""></td>
<td>96</td>
<td>Blyat</td>
<td>1/11/2019 9:43</td>
<td>5,900,000</td>
<td><button type="button" class="btn btn-default btn-sm">
<i class="fa fa-thumbs-o-up"></i>
</button>
<button type="button" class="btn btn-default btn-sm">
<i class="fa fa-thumbs-o-down"></i>
</button></td>
<td></td>
</tr>
<tr>
<td>3</td>
<td>Rum</td>
<td><img src="resources/css/images/logo cyka bear.png" alt=""></td>
<td>9</td>
<td>Piz</td>
<td>1/11/2019 8:43</td>
<td>5,800,000</td>
<td><button type="button" class="btn btn-default btn-sm">
<i class="fa fa-thumbs-o-up"></i>
</button>
<button type="button" class="btn btn-default btn-sm">
<i class="fa fa-thumbs-o-down"></i>
</button></td>    
<td></td>
</tr>
<tr>
<td>4</td>
<td>Vermount</td>
<td><img src="resources/css/images/logo cyka bear.png" alt=""></td>
<td>6</td>
<td>Dec</td>
<td>1/11/2019 7:43</td>
<td>5,700,000</td>
<td><button type="button" class="btn btn-default btn-sm">
<i class="fa fa-thumbs-o-up"></i>
</button>
<button type="button" class="btn btn-default btn-sm">
<i class="fa fa-thumbs-o-down"></i>
</button></td>    
<td></td>
</tr>
<tr>

<td><button type="button" class="btn btn-default btn-sm">
<i class="fa fa-trash-o"></i> Remove Item
</button></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</table>   
</div>
</div>

{{>footer}}