  <footer id="footer">
      <a href="/" role="button">
        <img src="/css/images/buhnrop.png", alt="">
      </a>
      <span class="row" style="color: #F49DBA">
        <span>1753046 - Nguyễn Đăng Duy &nbsp;&nbsp;</span>
        <span>1753050 - Trần Vinh Hiển </span>
      </span>
      <span class="row" style="color: #F49DBA">
        <span>1753049 - Nguyễn Trọng Hải &nbsp;&nbsp;</span>
        <span>1753051 - Hồ Trung Hiếu</span>
      </span>
      <p id="credit">Developed by Buhnrop Team</p>
  </footer>
