<!--This is the header of the page-->
    <div id ="header">
        <div class="row">
            <div class="col">
                <a href="/" role="button">
                    <img src="/css/images/logo cyka bear.png" alt="">
                    <img src="/css/images/buhnrop.png" alt="">
                </a>
            </div>
        
            <div class="col">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." id="searchInput">
                    <div class="input-group-append">
                        <button id="search_btn" class="btn btn-secondary" type="button", >
                            <img class="search_logo" src="/css/images/search_icon.png" alt="search_icon">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            
            
            <div id="header_col3" class="col">
              <a id="shopping_cart" href="/cart" role="button">
                <button type="button" class="btn btn-outline-warning add-to-cart" data-id="{{id}}" ><b>Shopping Cart</b></button>
              </a>
              
              {{#if isLoggedIn}}
                <div class="chip">
                    <div class="dropdown"style="float:right;">
                            <img class="user_logo" src="/css/images/guest_logo.png" alt="avatar" class="avatar">
                            <span><b>{{User.Fullname}}</b></span>
                            <div class="dropdown-content">
                            <a href="/personalAreaAdmin">
                            <button type="button" class="btn btn-primary">Infomation</button></a>
                            <a href="/index">
                            <button type="button" class="btn btn-primary">Logout</button></a>
                        </div>
                    </div>                        
                </div>

              {{else}}
              <div id="profile-chip"> 
              <a  href="/users/login" role="button">
                <div class="chip">
                    <img src="/css/images/guest_logo.png">
                    <b>Sign in now</b>  
                </div>
              </a>
            </div>
            {{/if}}

          </div>                
        </div>

        <div id="navigate_bar">
            <div class="btn-group btn-group-small">
                <a href="/categories"><button type="button" class="btn btn-primary">Categories</button></a>
            
            </div>
        </div>
    </div>

<script>
    $('#search_btn').click(function() {
        let url = "/searchResult?search="+ $('#searchInput').val();
        location.href=url;
    });
</script>