<!--This is the header of the page-->
    <div id ="header">
        <div class="row">
            <div class="col">
                <a href="./index.html" role="button">
                    <img src="resources/css/images/logo cyka bear.png" alt="">
                    <img src="resources/css/images/buhnrop.png" alt="">
                </a>
            </div>
        
            <div class="col">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                    <div class="input-group-append">
                        <button id="search_btn" class="btn btn-secondary" type="button", >
                            <img class="search_logo" src="resources/css/images/search_icon.png" alt="search_icon">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            
            
            <div id="header_col3" class="col">
              <a id="shopping_cart" href="./AuctionCart.html" role="button">
                <button type="button" class="btn btn-outline-warning"><b>Aunction Cart</b></button>
              </a>
              
              <div id="profile-chip"> 
              <a  href="./sign_in.html" role="button">
                <div class="chip">
                    <img src="resources/css/images/guest_logo.png">
                    <b>Sign in now</b>  
                </div>
              </a>
            </div>
          </div>                
        </div>

        <div id="navigate_bar">
            <div class="btn-group btn-group-small">
                <button type="button" class="btn btn-primary">Categories</button>
                <button type="button" class="btn btn-primary">News</button>
                <button type="button" class="btn btn-primary">FAQs</button>
                <button type="button" class="btn btn-primary">Help</button>
            
            </div>
        </div>
    </div>
